name: Publish test results to Alva
on:
  workflow_call:
    inputs:
      cloud_challenge:
        type: boolean
        default: false
    secrets:
      AUTO_SCORE_TOKEN:
        required: false

jobs:
  tests:
    runs-on: ubuntu-20.04
    concurrency:
      group: alva_test_results
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        # Environment setup
      - name: Install Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'microsoft'
          java-version: '21'
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.2
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install AWS CLI
        if: inputs.cloud_challenge
        run: pip install awscli
      - name: Install Terraform CLI
        if: inputs.cloud_challenge
        uses: hashicorp/setup-terraform@v3
      - name: Determine config file
        run: |
          if [ -f cypress.config.js ]; then
            echo "config_file=cypress.config.js" >> $GITHUB_ENV
          else
            echo "config_file=cypress.config.ts" >> $GITHUB_ENV
          fi
        shell: bash

      - name: Update host
        run: |
          sed 's/host.docker.internal/localhost/g' ${{ env.config_file }} > temp && mv temp ${{ env.config_file }}

      - name: Ensure mochawesome
        run: 'jq -r ".[\"devDependencies\"] |= (.mochawesome = \"^7.1.3\")" package.json > package.json.tmp && mv package.json.tmp package.json'
      - name: Install deps
        run: npm install
        
      - name: Fetch apiUrl
        if: inputs.cloud_challenge != true
        run: |
          apiUrl=$(grep "apiUrl:" ${{ env.config_file }} | awk -F": " '{print $2}' | tr -d "'," || echo "")
          
          # replace double quotes in apiUrl, needed to support cypress.config.js with double quote strings
          apiUrl="${apiUrl//\"/}"
          if [[ ! -z "$apiUrl" ]]; then
            apiUrl="$apiUrl/ping"
          fi
          
          echo "apiUrl=$apiUrl" >> $GITHUB_ENV

        shell: bash

      - name: Fetch apiUrl for cloud challenge
        if: inputs.cloud_challenge
        run: |
          apiUrl=$(grep "apiUrl:" ${{ env.config_file }} | awk -F": " '{print $2}' | tr -d "'," || echo "")
          
          # replace double quotes in apiUrl, needed to support cypress.config.js with double quote strings
          apiUrl="${apiUrl//\"/}"
          if [[ ! -z "$apiUrl" ]]; then
            apiUrl="$apiUrl/_localstack/health"
          fi
          
          echo "apiUrl=$apiUrl" >> $GITHUB_ENV

        shell: bash
        
      - name: Update test reporter
        run: |
          sed 's#module.exports = defineConfig({#module.exports = defineConfig({\n  reporter: '\"'mochawesome'\"',\n  reporterOptions: {\n    reportDir: '\"'cypress/reports/mocha'\"',\n    quiet: true,\n    overwrite: false,\n    html: false,\n    json: true\n  },#g' ${{ env.config_file }} > temp_js
          sed 's#export default defineConfig({#export default defineConfig({\n  reporter: '\"'mochawesome'\"',\n  reporterOptions: {\n    reportDir: '\"'cypress/reports/mocha'\"',\n    quiet: true,\n    overwrite: false,\n    html: false,\n    json: true\n  },#g' temp_js > temp
          mv temp ${{ env.config_file }}
      
      # Running tests for all challenges except Backend.
      - name: Run tests without waiting on API
        if: env.apiUrl == ''
        uses: cypress-io/github-action@v6
        with:
          build: npm run build
          start: npm run start
          
      # Running tests for Backend challenges. Waiting on API is required.    
      - name: Run tests with waiting on API
        if: env.apiUrl != ''
        uses: cypress-io/github-action@v6
        with:
          build: npm run build
          start: npm run start
          wait-on: ${{ env.apiUrl }}
      
      # Preparing test results and sending them to Alva
      - name: Fetch test results
        if: always()
        run: |
          escapedResults=$(jq -c '[.results[].suites[].tests[] | {test: .title, result: .state}]' cypress/reports/mocha/mochawesome.json | sed 's/"/\\"/g')
          echo "testResults=$escapedResults" >> $GITHUB_ENV
      - name: Set repo env var
        if: always()
        run: echo "github_repo=$GITHUB_REPOSITORY" >> $GITHUB_ENV
      - name: Check if current repo is a template
        if: always()
        run: |
          response=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" https://api.github.com/repos/${{ github.repository }})
          if echo "$response" | jq -e '.is_template == true' > /dev/null; then
            echo "isTemplate=true" >> $GITHUB_ENV
          else
            echo "isTemplate=false" >> $GITHUB_ENV
          fi       
      - name: Publish test results with retries if candidate repo, i.e. not a template repo
        if: always() && env.isTemplate == 'false'
        run: |
          retry=0
          max_retries=3
          sleep_time=5  # seconds
          status=1  # any non-zero value
          auth_header=""
          if [ -n "${{ secrets.AUTO_SCORE_TOKEN }}" ]; then
           auth_header="Authorization: Bearer ${{ secrets.AUTO_SCORE_TOKEN }}"
          fi
          while [[ "$status" -ne 0 && "$retry" -lt "$max_retries" ]]; do
            echo "Attempt: $((retry+1))"
            curl -s -o /dev/null -w "%{http_code}" \
              -X POST \
              -H "$auth_header" \
              -H "Content-Type: application/json" \
              -d "{\"assignmentRepository\": \"${{ env.github_repo }}\",\"results\": [${{ env.testResults }}]}" \
              ${{ vars.AUTO_SCORE_WEBHOOK_URL }}
            status=$?
            if [[ "$status" -ne 0 ]]; then
              echo "Attempt $((retry+1)) failed. Retrying in $sleep_time seconds..."
              sleep "$sleep_time"
            fi
            retry=$((retry+1))
          done
          if [[ "$status" -ne 0 ]]; then
            echo "All attempts failed after $max_retries retries."
            exit 1
          fi

